/** FOOTER **/

footer{
    @include box(column, space-around, center, center, 100%,100%);
    background-color: darken($grey, 70%);
    color: white;
    padding-top: 5%;

    .titre{
        font-family: $police_titres_logo;
        font-size: 1em;
    }

    ul{
        list-style-type: none;
        padding-left: 0%;
        margin-top: 1%;
        width: 90%;
        a{        
            text-decoration: none;
            color: white;
        }

        li{
            margin-top: 3%;
        }
    }
}