/** MAIN **/
body{
    width: 100%;
    margin: 0%;
    padding: 0%;
}

h1{
    font-family: $police_titres_logo;
    font-size: 2em;
    text-align: center;
    margin-top: 0%;
}

p{
    font-family: $police_texte;
    font-style: normal;
}

