/** MAIN **/
body{
    width: 100%;
    margin:0%;
    padding: 0%;
    background-color: white;
}

h1{
    display: none;
}

p{
    font-family: $police_texte;
    font-style: normal;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black;
}

span{
    font-family: $police_texte;
    font-weight: bold;
    font-size: 1.3em;
    width: 90%;
}

