/** MAIN **/
body{
    width: 100%;
    margin:0%;
    padding: 0%;
    background-color: white;
}

h1{
    font-family: $police_titres_logo; 
    width: 90%; 
    i{
        float: right;
        margin-right: 5%;
    }
}

.h1_invisible{
    display: none;
} 

h2{
    font-family: $police_texte;
    font-weight: normal;
    font-size: 1em;
    padding-bottom: 1%;
    margin-left: 2.5%;
    border-bottom: 3px solid $tertiary;
    width: 11%;
}

p{
    font-family: $police_texte;
    font-style: normal;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black;
    font-family: $police_texte;
}

span{
    font-family: $police_texte;
    font-weight: bold;
    font-size: 1.3em;
    width: 90%;
}

