@charset "UTF-8";
/** POLICES **/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/** BOUTON **/
.btn {
  font-family: "Roboto";
  padding: 3%;
  color: white;
  border: 0px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin-bottom: 10%;
  width: 50%;
  -webkit-box-shadow: 5px 5px 10px #d1d1d1;
          box-shadow: 5px 5px 10px #d1d1d1;
  opacity: 1;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 10px #6b6b6b;
          box-shadow: 5px 5px 10px #6b6b6b;
}

.fa-heart {
  font-size: 1.2em;
  position: relative;
  color: black;
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
}

.fa-heart i {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0%;
  top: 0%;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
}

.fa-heart:active {
  color: rgba(255, 255, 255, 0);
}

.fa-heart:active i {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: visible;
  font-size: 1em;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/** HEADER **/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
}

header a {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 5%;
}

header i {
  font-size: 1em;
}

header .logo {
  width: 50%;
  height: auto;
}

/** MAIN **/
body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  background-color: white;
}

h1 {
  font-family: "Shrikhand", cursive;
  width: 90%;
}

h1 i {
  float: right;
  margin-right: 5%;
}

.h1_invisible {
  display: none;
}

h2 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 1em;
  padding-bottom: 1%;
  margin-left: 2.5%;
  border-bottom: 3px solid #99E2D0;
  width: 11%;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Roboto";
}

span {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.3em;
  width: 90%;
}

/** LOCALISATION **/
.localisation {
  background-color: #eaeaea;
  color: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.localisation p {
  margin-left: 2%;
}

/** ACCROCHE **/
.accroche {
  background-color: #f7f7f7;
  text-align: center;
  font-family: "Roboto";
  padding-top: 7%;
}

.accroche--titre {
  font-weight: bold;
  font-size: 1.6em;
  margin-left: 11%;
  margin-right: 11%;
}

.accroche--slogan {
  font-size: 1.1em;
  margin: 5%;
}

/** FONCTIONNEMENT **/
.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10%;
}

.fonctionnement ol {
  list-style-type: none;
  padding-left: 0%;
  width: 85%;
}

.fonctionnement ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 5px 10px #dddddd;
          box-shadow: 5px 5px 10px #dddddd;
  background-color: #f7f7f7;
  border-radius: 15px;
  margin-bottom: 5%;
  font-weight: bold;
}

.fonctionnement ol li .numero {
  position: relative;
  right: 10px;
  vertical-align: middle;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  text-align: center;
  color: white;
  font-weight: 100;
  margin-right: 5%;
}

.fonctionnement ol li .fas {
  width: 5%;
  margin-right: 5%;
  color: #848484;
}

.fonctionnement ol li .fas__coloré {
  color: #9356DC;
}

/** RESTAURANTS **/
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background-color: #eaeaea;
  padding-top: 10%;
  padding-bottom: 10%;
}

.restaurants__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 15em;
  -webkit-box-shadow: 5px 5px 10px #d1d1d1;
          box-shadow: 5px 5px 10px #d1d1d1;
  margin-top: 10%;
  background-color: #F2F2F2;
  border-radius: 1em;
  position: relative;
}

.restaurants__carte a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.restaurants__carte img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
  width: 100%;
  height: 75%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.restaurants__carte div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 25%;
}

.restaurants .new_menu {
  position: absolute;
  right: 4%;
  top: 0%;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 2%;
  border-radius: 3px;
}

/**------- PAGES CARTE -----------**/
/** IMAGES **/
.img-menu {
  width: 100%;
  height: 15em;
  -o-object-fit: cover;
     object-fit: cover;
}

/** MENU **/
.page-menu {
  background-color: #eaeaea;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: relative;
  bottom: 50px;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

article h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: auto;
  -webkit-box-shadow: 5px 5px 10px #d1d1d1;
          box-shadow: 5px 5px 10px #d1d1d1;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 5%;
}

article div p {
  margin: 4%;
  font-size: 0.9em;
}

article div p strong {
  font-size: 1.1em;
}

article div p:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/** FOOTER **/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #383838;
  color: white;
  padding-top: 5%;
}

footer .titre {
  font-family: "Shrikhand", cursive;
  font-size: 1em;
}

footer ul {
  list-style-type: none;
  padding-left: 0%;
  margin-top: 1%;
  width: 90%;
}

footer ul a {
  text-decoration: none;
  color: white;
}

footer ul li {
  margin-top: 3%;
}
/*# sourceMappingURL=style.css.map */