/**------- PAGES CARTE -----------**/

/** IMAGES **/
.img-menu{
    width: 100%;
    height: 15em;
    object-fit: cover;
}

/** MENU **/
.page-menu{
    background-color: $grey;
}
.menu{
    @include box(column, space-between, center, center, 100%,100%);
    background-color: $grey;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    position: relative;
    bottom: 50px;
}

section{
    @include box(column, space-around, center, center, 100%, 100%);
    margin-bottom: 5%;

    .h2_menu{
        align-self: flex-start;
    }

    .element{
        @include box(row, space-between, center, center, 95%);
        @include box-shadow(10%);
        border-radius: 15px;
        background-color: white;
        margin-bottom: 5%;
        opacity: 0;
        animation: apparition 1000ms forwards;
        @for $i from 1 through 10 {
            &--#{$i} {
                animation-delay: 200ms * $i;
            }
        }

        p{        
            margin: 4%;
            font-size: 0.9em;
            strong{
                font-size: 1.1em;
            }

            &:nth-child(2){
            align-self:flex-end ;
            }
        }
    }
}

@keyframes apparition {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
