/** POLICES **/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$police_texte: 'Roboto';

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$police_titres_logo: 'Shrikhand', cursive;


$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #eaeaea; 